@media (max-width: 1500px) {
  .portfolio section.active {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio .group {
    margin-left: calc((100vw - 800px) * (100 / 700));
  }
}

@media (max-width: 1200px) {
  .portfolio section.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    margin: 0;
    margin-top: 100px;

    gap: 20px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
    will-change: transform, opacity;
  }

  /* グループ自体を中央揃え */
  .portfolio .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .portfolio .group img {
    margin-bottom: 20px;

    width: 100%;
    max-width: 384px;

    aspect-ratio: 16 / 9;
    object-fit: cover;

    border-radius: 10px;
  }

  .portfolio .group h2,
  .portfolio .group p,
  .portfolio .group .descrip,
  .portfolio .group .hashtag {
    text-align: center;
    max-width: 100%;
    margin: 0;
    padding: 5px;
  }

  .portfolio .group .descrip {
    white-space: pre-line;
    color: #ffffff;
  }

  .portfolio .group .hashtag {
    color: #0fafff;
  }
}
