@media (max-width: 1500px) {
  .works-group .left {
    margin-left: calc(5%);
    flex-shrink: 0;

    display: flex;
    flex-direction: column; /* ← これが重要 */
  }

  .works-group .left img,
  .works-group .left iframe {
    margin-bottom: 50px;

    width: 100%;
    max-width: 300px;
    height: 169px;

    aspect-ratio: 16 / 9; /* ← これが本質 */
    object-fit: cover; /* img用（トリミング） */

    border-radius: 10px;
  }

  .works-group .right h1 {
    font-size: clamp(
      58.5px,
      calc(58.5px + (75 - 58.5) * ((100vw - 1500px) / 420)),
      75px
    );
  }

  .works-group .right h2 {
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: clamp(
      19.5px,
      calc(19.5px + (25 - 19.5) * ((100vw - 1500px) / 420)),
      25px
    );
  }

  .works-group .right h3 {
    margin-top: 40px;
    font-size: clamp(
      19.5px,
      calc(19.5px + (25 - 19.5) * ((100vw - 1500px) / 420)),
      25px
    );
    color: #0fafff;
  }

  .works-group .right p {
    margin-top: 10px;
    font-size: clamp(
      15.6px,
      calc(15.6px + (20 - 15.6) * ((100vw - 1500px) / 420)),
      20px
    );
    white-space: pre-line;
  }
}

@media (max-width: 1200px) {
  .works-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-top: 100px;
    padding-bottom: 50px;
    gap: 20px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
    will-change: transform, opacity;
  }

  .works-group h1 {
    text-align: center;
    max-width: 100%;
    margin: 0;
    font-size: clamp(
      30px,
      calc(40px + (60 - 40) * ((100vw - 320px) / (1200 - 320))),
      60px
    );
  }

  .works-group h2 {
    text-align: center;
    max-width: 100%;
    margin: 0;
  }

  .works-group h3 {
    text-align: center;
    max-width: 100%;
    margin: 0;
    color: #0fafff;
  }

  .works-group p {
    text-align: left;
    max-width: 90%;
    margin: 0;
    white-space: pre-line;
  }

  .works-group img,
  .works-group iframe {
    margin-bottom: 20px;

    width: 100%;
    max-width: 384px;

    aspect-ratio: 16 / 9;
    object-fit: cover;

    border-radius: 10px;
  }
}
