main {
  display: flex;
  justify-content: center; /* 横方向中央 */
  align-items: center; /* 縦方向中央 */
  min-height: 100vh; /* 画面全体を高さとして使う */
}

.iframe {
  width: 40%;
  height: 95%;
  border: 0;

  background-color: rgb(219, 219, 219);
}
