* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas", "Courier New", monospace;
}

body {
  display: flex;
  height: 100vh;
  background-color: #252525;
  color: #d4d4d4;
}

main {
  flex: 1;
}
