.header {
  position: fixed;
  top: 40px;
  right: 40px;
  background: #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
}

.h-container {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
}

.header .nav a {
  font-family: "SN Pro", sans-serif;
  font-size: 20px;
  color: #555555;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.2s ease;

  position: relative;
}

.header .nav a:hover {
  color: #00aaff;
  transform: translateY(-2px);
}

.header .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #00aaff;
  transition: 0.3s;
}

.header .nav a:hover::after {
  width: 100%;
}
