* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SN Pro", sans-serif;
  background: #eeeeee;
  color: #333;
  line-height: 1.6;
}

.main {
  margin: 0px;
}
